/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}
.container{
    width: 85%;
    max-width: 1320px;
    margin: 0 auto;
    border: 2px solid red;
}
section{
    margin-top: 60px;
}
/* banner starts */
.banner-background{
    border-radius: 16px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('../images/Banner-Image.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 450px; 
}
.banner-text h3{
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    
}
.banner-text h1{
    color: #FFF;
    font-family: Merriweather;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px; 
}
.container .banner-text{
   padding-left: 250px;
   padding-right: 250px;
   padding-top: 160px;
   text-align: center;
}
/* banner ends */
 /* discount section starts */
 .discount-container{
    width: 50%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 2px solid green;
 }
 .discount-text{
    text-align: center;
 }

 .discount-text h1{
    font-family: Inter;
    color: #F00;
    font-size: 68px;
    font-weight: 700;
 }
 .discount-text p{
    color: #F00;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    
 }
.discount-text h3{
    color: #070211;
    font-family: Inter;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 80x;
}
 .discount-image img{
    margin-top: 20px;
    width: 100%;
 }

 /* discount section ends */
 /* party section starts */
 .party-section{
    /* background-image: url('../images/Vectorrr.png'); */
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('../images/Vectorrr.png');
    background-size: 100% 100%;
    height: 450px;
 }
 .party-container{
    display: flex;
    padding: 0px 90px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
 }
 .party-text *{
    color: white;
 }
 .party-text h2{
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 3px;
    margin-bottom: 18px;
 }
 .party-text p{
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;

 }
 .btn-join{
    margin-top: 40px;
    background-color: rgb(241, 241, 241);
    color: rgb(104, 90, 90);
    border: none;
    font-family: Inter;
    font-size: 16px;
    padding: 2px;
    font-weight: 700;
    text-transform: uppercase;
 }
 .party-image img{
    padding-top: 70px;
    width: 200px;
    height: 320px;
 }
 /* party section ends */
/* invitation section starts */
section .party-invtation{
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    height: 380px;
}
.invitation-text{
    width: 50%;
    margin: 70px auto;
    border: 2px solid green;
}
.invitation-text *{
    font-family: Inter;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    line-height: 40px; /* 175% */
    text-transform: capitalize
}
.invitation-text span{
    color: #F00; ;
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-invitation{
    color: white;
    margin: 0 auto;
    padding: 10px 40px;
    border-radius: 8px;
    background-color: #F00;
    border: none;
}
/* invitation section ends */
/* new offer starts  */
.new-offer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
    padding: 0px 10px;
}
.coming-offer{
    flex: 1;
}
.coming-offer *{
    margin-bottom: 12px;
}
.year-2024{
    margin-top: 92px;
}
.year-2024 *{
    /* margin-bottom: 12px; */
}

.year-2024{
    flex: 1;
}
/* .coming-offer{
    padding: 15px;
} */
.coming-offer h3{
    color: #F00; 
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
}
.coming-offer h2{
    font-family: Merriweather;
    font-size: 34px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.coming-offer p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
}
.offer-img img{
    width: 90%;
    border-radius: 50%;
    border: 7px solid #F00;
    border-style: inset;
    padding: 9px;
}
.year-2024 h2{
    color: #F00;
    font-family: Inter;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
}
.year-2024 p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;   
}
.year-2024 img{
    width: 40%;
    margin-top: 30px;
}

/* new offer ends */