/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}
.container{
    width: 85%;
    max-width: 1320px;
    margin: 0 auto;
    /* border: 2px solid red; */
}
section{
    margin-top: 60px;
}
/* banner starts */
.banner-background{
    border-radius: 16px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('../images/Banner-Image.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 450px; 
}
.banner-text h3{
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    
}
.banner-text h1{
    color: #FFF;
    font-family: Merriweather;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px; 
}
.container .banner-text{
   padding-left: 250px;
   padding-right: 250px;
   padding-top: 160px;
   text-align: center;
}
/* banner ends */
 /* discount section starts */
 .discount-container{
    width: 50%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* border: 2px solid green; */
 }
 .discount-text{
    text-align: center;
 }

 .discount-text h1{
    font-family: Inter;
    color: #F00;
    font-size: 68px;
    font-weight: 700;
 }
 .discount-text p{
    color: #F00;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    
 }
.discount-text h3{
    color: #070211;
    font-family: Inter;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 80x;
}
 .discount-image img{
    margin-top: 20px;
    width: 100%;
 }

 /* discount section ends */
 /* party section starts */
 .party-section{
    /* background-image: url('../images/Vectorrr.png'); */
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('../images/Vectorrr.png');
    background-size: 100% 100%;
    height: 450px;
 }
 .party-container{
    display: flex;
    padding: 0px 90px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
 }
 .party-text *{
    color: white;
 }
 .party-text h2{
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 3px;
    margin-bottom: 18px;
 }
 .party-text p{
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;

 }
 .btn-join{
    margin-top: 40px;
    background-color: rgb(241, 241, 241);
    color: rgb(104, 90, 90);
    border: none;
    font-family: Inter;
    font-size: 16px;
    padding: 2px;
    font-weight: 700;
    text-transform: uppercase;
 }
 .party-image img{
    padding-top: 70px;
    width: 200px;
    height: 320px;
 }
 /* party section ends */
/* invitation section starts */
section .party-invtation{
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    height: 380px;
    padding: 70px; 
}
.invitation-text{
    width: 50%;
    margin: 50px auto;
    padding: 20px 0px;
}
.invitation-text *{
    font-family: Inter;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    line-height: 30px; /* 175% */
    text-transform: capitalize
}
.invitation-text span{
    color: #F00; ;
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-invitation{
    color: white;
    margin: 0 auto;
    padding: 10px 40px;
    border-radius: 8px;
    background-color: #F00;
    border: none;
}
/* invitation section ends */
/* new offer starts  */
.new-offer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1px;
    padding: 0px 4px;
}
.coming-offer{
    flex: 1;
}
.coming-offer *{
    margin-bottom: 12px;
}
.year-2024{
    margin-top: 92px;
}
.year-2024 *{
    /* margin-bottom: 12px; */
}

.year-2024{
    flex: 1;
}
/* .coming-offer{
    padding: 15px;
} */
.coming-offer h3{
    color: #F00; 
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
}
.coming-offer h2{
    font-family: Merriweather;
    font-size: 34px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.coming-offer p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
}
.offer-img img{
    width: 90%;
    border-radius: 50%;
    border: 7px solid #F00;
    border-style: inset;
    padding: 9px;
}
.year-2024 h2{
    color: #F00;
    font-family: Inter;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
}
.year-2024 p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;   
}
.year-2024 img{
    width: 40%;
    margin-top: 30px;
}

/* new offer ends */
/* holiday starts */
/* holiday Ends */

/* portfolio card starts */
.portfolio-text *{
    margin-bottom: 8px;
}
.portfolio-text h3{
    color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.portfolio-text h1{
    font-size: 38px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.portfolio-text p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 25px;
}
.portfoloio-card-container{
     display: flex;
     flex-wrap: wrap;
     gap: 8px;
     justify-content: center;
     align-items: center;
}
.card{
    width: 32.7%;
    cursor: pointer;
}
.card img{
    width: 100%;
}
.card:hover{
    transform: rotate(45deg) scale(0.7);
    
}
/* portfolio card ends */
/* newsLetter section starts */
.newsletter-container{
    background-color: rgba(255, 0, 0, 0.05);
    border-radius: 16px;
}
.subscribe-text{
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
.subscribe-text img{
    width: 15%;
}
.subscribe-text h3{
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.subscribe-text p{
    text-align: center;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    width: 60%;
    margin-bottom: 40px;
}
.subscribe-form{
    width: 60%;
    display: flex;
    gap:0;
    margin: 30px auto;
    align-items: center;
    justify-content: center;
    padding: 60px;
}
#email{
    padding: 8px 10px;
    border: none;
    /* outline: none; */
    border-radius: 50px 0px 0px 50px;
}
#subscribe{
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    padding: 8px 10px;
    border: none;
    outline: none;
    color: white;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
}
/* newsletter section ends */
/* footer starts */
footer{
    margin-top: 50px;
    background-color:#070211;
    color: white;
    padding: 10px 0px;
}
.address,.copywright{
    display: flex;
    justify-content: space-between;
    margin: 60px 100px;
}
.address p, .copywright p{
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 166.667% */
}

.phone,.mail{
    display: flex;
    align-items: center;
    gap: 5px;
}
.phone img, .mail img{
    width:10%;
    height:50%;
}
.icon{
    width: 30%;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon img{
    width: 12%;
}
.Unsubscribe{
    color: white;
    background-color: #070211;
    padding: 4px 6px;
    background-color: cornflowerblue;
    font-weight: 60px;
    border-radius: 6px;
    outline: none;
    border: none;
}
hr{
    border: 1px solid cadetblue;
    width: 83%;
    margin: 0 auto;
}
/* footer Ends */